/* ==========================================
   RESPONSIVE BASE
========================================== */

@media (max-width:950px){

    .container{

        width:94%;

    }

}

@media (max-width:600px){

    section{

        padding:80px 0;

    }

}

@media (max-width:900px){

.hero{

padding-top:120px;

}

.hero h1{

font-size:3rem;

}

.hero p{

font-size:1rem;

}

.stats-grid{

grid-template-columns:1fr 1fr;

}

}

@media (max-width:600px){

.stats-grid{

grid-template-columns:1fr;

}

.hero-buttons{

flex-direction:column;

align-items:center;

}

.primary-btn,
.secondary-btn{

width:100%;

max-width:320px;

text-align:center;

}

}

@media(max-width:1000px){

.quick-grid{

grid-template-columns:repeat(2,1fr);

}

.news-loading{

min-width:300px;

}

}

@media(max-width:650px){

.quick-grid{

grid-template-columns:1fr;

}

.section-title h2{

font-size:2rem;

}

}

@media(max-width:600px){

    #backToTop{

        right:18px;

        bottom:18px;

        width:48px;

        height:48px;

        font-size:20px;

    }

    .news-card{

        min-width:280px;

    }

}

@media(max-width:1000px){

.footer-grid{

grid-template-columns:1fr 1fr;

}

.streamers-grid{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:700px){

.footer-grid{

grid-template-columns:1fr;

}

.streamers-grid{

grid-template-columns:1fr;

}

}

@media(max-width:950px){

.rules-layout{

grid-template-columns:1fr;

}

.rules-sidebar{

position:relative;

top:0;

height:auto;

border-right:none;

border-bottom:1px solid rgba(255,255,255,.06);

}

.rules-content{

padding:35px 20px;

}

}